/* font-family: 'Cookie', cursive; */

header,
main {
    margin: 0 auto;
    width: 70%;
}

header img:first-child {
    float: left;
}

header ul {
    list-style-type: none;
    float: right;
    margin-top: 10px;
}

header ul li {
    display: inline-block;
    margin: -1px;
}

header ul li img {
    width: 24px;
}

header ul li:nth-child(7) {
    margin-left: 9px;
}

header nav {
    margin-top: 25px;
    height: 50px;
}

header div {
    background-image: url("img/hr-img.png");
    height: 1em;
    width: 100%;
    clear: both;
    margin-top: 40px;
    margin-bottom: 80px;
}

header nav h2 {
    display: inline;
    font-size: 3em;
    font-family: 'Cookie', cursive;
}

header nav p {
    display: inline;
    font-size: 0.5em;
}

.title h1 {
    font-size: 2em;
}

.title h6 {
    color: #dddd;
}

main section:nth-child(2) img {
    width: 100%;
    margin: 20px 0 20px 0;
}

.bodyText p {
    margin-bottom: 20px;
}

.recipeForm {
    text-align: center;
    background-image: url('img/list-bg.png');
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
}

.recipeForm ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.recipeForm ul li {
    flex: 1 1 50%;
    display: inline-block;
}

.bttmbar {
    background-image: url("img/hr-img.png");
    height: 1em;
    width: 100%;
}

.recipeForm {
    width: 100%;
}

.abovefooter div {
    display: inline-block;
}

.abovefooter div:first-child {
    float: left;
}

.abovefooter div:last-child {
    float: right;
}

.abovefooter div h3 {
    display: inline;
}

.abovefooter button {
    margin-top: 30px;
    padding: 10px;
    background-color: red;
    border: 0px;
    width: 175px;
}

footer {
    clear: both;
    text-align: center;
}


footer div {
    display: inline-block;
    height: 1px;
    background-color: gray;
    width: 33%;
}

footer p {
    margin: 3% 0 3% 0;
}